services:
  broker:
    build: .
    ports:
      - 1883:1883
      - 6060:6060
    command:
      - -credential=${ADMIN_USERNAME:-admin}:${ADMIN_PASSWORD:-admin}
      - -acl=${ADMIN_USERNAME:-admin}:#:rw
      - -acl=${ADMIN_USERNAME:-admin}:$$SYS/#:r
      - -credential=anon:anon
      - -acl=anon:anon/#:r
      - -pprof=:6060
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    deploy:
      resources:
        limits:
          cpus: "4"
          memory: 8G
        reservations:
          cpus: "4"
          memory: 8G
